<!DOCTYPE html>
<html>
<head>
    <title>Niak Volt</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="static/favicon.ico">
</head>
<body>

<div class="container">
	<div class="dashboard">
		<header class="top-bar">
			<h1>🔌 Niak Volt</h1>
			<div class="connection-wrapper">
				<button id="btn-status" class="status" onclick="toggleMenu()"></button>
				<div id="itens-menu" class="port-menu hidden"></div>
			</div>
		</header>
	</div>
	
</div>

<div id="popup" class="popup hidden">
  <span id="popupMessage"></span>
  <button onclick="closePopup()">OK</button>
</div>

<script>
function updateStatus(){
	const status = document.getElementById("btn-status")
	
    fetch("/api/status")
    .then(r => r.json())
    .then(d => {
		if(d.status === "DISCONNECTED"){
			status.innerText = "CONNECT";
		}
    })
}

function toggleMenu(){
	const status = document.getElementById("btn-status")
    const menu = document.getElementById("itens-menu")
    
    if(menu.classList.contains("hidden")){
	
		if(status.innerText === "CONNECT") {
			loadPorts();
		}
    }
	menu.classList.toggle("hidden");
}

function loadPorts(){
    fetch("/api/ports")
    .then(r => r.json())
    .then(ports => {
        let menu = document.getElementById("itens-menu")
        menu.innerHTML = ""

        if(ports.length === 0){
		    let btn = document.createElement("button")
            btn.innerText = "No ports COM"
            menu.appendChild(btn)
            return
        }

        ports.forEach(port => {
            let btn = document.createElement("button")
            btn.innerText = port
            btn.onclick = () => connect(port)
            menu.appendChild(btn)
        })
    })
}

function connect(port){
    fetch("/api/connect", {
        method:"POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({port: port})
    })
    .then(r => r.json())
    .then(d => {
        if(d.success){
            updateStatus()
        } else {
			showPopup("Erro: " + d.error)
        }
    })
}

function showPopup(msg) {
    document.getElementById("popup").classList.remove("hidden");
    document.getElementById("popupMessage").textContent = msg;
}

function closePopup() {
    document.getElementById("popup").classList.add("hidden");
}

updateStatus();

</script>

</body>
</html>
