<!DOCTYPE html>
<html>
<head>
    <title>Niak Volt</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="static/favicon.ico">
</head>
<body>

<div class="container">
	<div class="dashboard">
		<header class="top-bar">
			<h1>🔌 Niak Volt</h1>
			<div class="connection-wrapper">
				<button id="btn-status" class="status" onclick="toggleMenu()"></button>
				<div id="coms" class="port-menu hidden"></div>
			</div>
		</header>
	</div>
	
</div>

<div id="overlay" class="overlay hidden"></div>

<div id="popup" class="popup hidden">
  <span id="popupMessage"></span>
  <button onclick="closePopup()">OK</button>
</div>

<script>

const status = document.getElementById("btn-status")
const coms = document.getElementById("coms")

function updateStatus(){
    fetch("/api/status")
    .then(r => r.json())
    .then(d => {
		clearStatus()
		if(d.status === "DISCONNECTED"){
			status.innerHTML = "CONNECT";
		}else if(d.status === "ON"){
			status.innerHTML = d.status + " (" + d.port + ")";
			status.classList.add("status-on");
		}else if(d.status === "OFF"){
			status.innerHTML = d.status + " (" + d.port + ")";
			status.classList.add("status-off");
		}
    })
}

function clearStatus(){
	status.classList.remove("status-on");
	status.classList.remove("status-off");
}

function toggleMenu(){
    if(coms.classList.contains("hidden")){
		if(status.innerHTML === "CONNECT") {
			loadPorts();
		}
    }
	coms.classList.toggle("hidden");
}

function loadPorts(){
    fetch("/api/ports")
    .then(r => r.json())
    .then(ports => {
        coms.innerHTML = ""
        if(ports.length === 0){
		    let btn = document.createElement("button")
            btn.innerText = "No ports COM"
            coms.appendChild(btn)
            return
        }

        ports.forEach(port => {
            let btn = document.createElement("button")
            btn.innerText = port
            btn.onclick = () => connect(port)
            coms.appendChild(btn)
        })
    })
}

function connect(port){
	status.innerHTML = '<div class="loader"></div>';
	toggleMenu()
    fetch("/api/connect", {
        method:"POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({port: port})
    })
    .then(r => r.json())
    .then(d => {
        if(d.error){
			showPopup("Erro: " + d.error)
        }
		updateStatus()
    })
}

function showPopup(msg) {
    document.getElementById("popup").classList.remove("hidden");
    document.getElementById("popupMessage").textContent = msg;
	document.getElementById("overlay").classList.remove("hidden");
}

function closePopup() {
    document.getElementById("popup").classList.add("hidden");
	document.getElementById("overlay").classList.add("hidden");
}

updateStatus();

</script>

</body>
</html>
